notebook
ollama==0.4.4
langchain-ollama
pandas
numpy
matplotlib
scikit-learn
pypdf
docx2txt
langchain-community
fastapi
uvicorn
python-multipart
faiss-cpu
langchain-text-splitters
streamlit
filetype
langgraph
pytest